@use "sass:map";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: darken(#c4e673, 25%);
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);

$type-colors: (
  "Normal": #a8a878,
  "Fighting": #c03028,
  "Flying": #a890f0,
  "Poison": #a040a0,
  "Ground": #e0c068,
  "Rock": #b8a038,
  "Bug": #a8b820,
  "Ghost": #705898,
  "Steel": #b8b8d0,
  "Fire": #f08030,
  "Water": #6890f0,
  "Grass": #78c850,
  "Electric": #f8d030,
  "Psychic": #f85888,
  "Ice": #98d8d8,
  "Dragon": #7038f8,
  "Dark": #705848,
  "Fairy": #ee99ac,
);

@each $name, $color in $type-colors {
  $type-colors: map.set(
    $type-colors,
    type-#{$name},
    ($color, findColorInvert($color))
  );
}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $type-colors
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Overrides

a.dropdown-item.is-active,
.dropdown .dropdown-menu .has-link a.is-active,
button.dropdown-item.is-active {
  background-color: $primary;
}
